/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

@theme {
  --color-spice-50: #fef7ee;
  --color-spice-100: #fdedd6;
  --color-spice-200: #f9d7ac;
  --color-spice-300: #f4ba77;
  --color-spice-400: #ee9340;
  --color-spice-500: #ea751a;
  --color-spice-600: #db5b10;
  --color-spice-700: #b54410;
  --color-spice-800: #903615;
  --color-spice-900: #742f14;
}

:root {
  --foreground: #1a1a1a;
  --background: #fefbf6;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spinner-rotate 0.9s linear infinite;
}
