@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1a1a1a;
  --background: #fefbf6;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}
